@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  padding: 5px 8px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  &.danger {
    background: #c61010;
    color: white;
  }
  &.success {
    background: #21b021;
    color: white;
  }
}

input, textarea {
  background: #212121;
  border: 1px solid #2d2d2d;
  border-radius: 0.25em;
  color: white;
  outline: none;
  padding: 0.4em;
  font-size: 1em;
}

textarea {
  width: 300px;
}

.input-contain {
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

}
